rtdl_num_embeddings
rtdl_revisiting_models
delu

ipython

boto3==1.35.9
einops==0.8.0
xarray==2024.7.0
h5netcdf==1.3.0

torch_geometric

h3==3.7.7


hydra-core
optuna
omegaconf
nvitop
tensorboard
tensorboardX
tqdm
wandb


ddict
attrs
black
blobfile

configargparse

cython
colorama
dataclasses
decorator
docopt
flake8
future
icecream
isort
jsonschema
more_itertools
msgpack
packaging
prefetch_generator
protobuf
pudb
pytest
PyYAML
regex
requests
six
sortedcontainers
termcolor
tabulate
tqdm
typer
typing_extensions
uvloop
yapf

h5py
numba
ninja
matplotlib
holoviews
bokeh
seaborn
plotly

pytorch_warmup
torch_optimizer
torchmetrics
torch-fidelity
lightning

loguru
pynvml
